.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    color: rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 24px 0 0 2%;
    text-decoration: none;
    font-size: 35px;
    font-family:'broadway_becker_stencilRg';
    transition-duration: 0.5s;
}

.topnav a:hover {
    color: #0DD9C4;
}

.topnav a.active {
    color: #ff005d;
    font-family: 'Rage Italic';
    position: absolute;
    left: 15%;
    top: 13%;
    transform: rotate(-30deg) scale(1.5, 1.5);
}