.notFound{
  text-align: center;
}
.notFound h1{
  font-family: 'broadway_becker_stencilRg';
  position: absolute;
  top: 20%;
  left: 40%;
  font-size: 250px;
  color: rgb(58, 0, 134);
}
.notFound h3{
  font-family: 'Rage Italic';
  position: absolute;
  top: 48%;
  left: 42%;
  font-size: 70px;
  transform: rotate(-8deg);
  color: rgb(255, 0, 212);
}